.container{
  width: 1002px;
  margin-top: 20px;
}

h1 strong{
  color: #FF3D7F;
}

h1 strong span {
  font-style: italic;
  font-size: 20px;
  vertical-align: text-top;
}
#mixer ol#channel {
  padding: 5px 0 0;
  list-style: none;
  margin: 0px;
  width: 570px;
  overflow: hidden;
}

#mixer ol#channel > li{
  border-radius: 2px;
  margin: 20px 5px;
  margin-top: 0;
  padding: 5px;
  border: 1px solid #DDD;
  background-color: #F7F7F7;
  width: 120px;
  height: 100px;
  float: left
}


#mixer li progress{
  display: none;
  width: 100%;
}
#mixer li label{
  padding: 0;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  width: auto;
}
#mixer li label.key{
  text-align: right;
  float: right;
}
#mixer li input[type=checkbox]{
  float: left;
  -webkit-appearance: none;
  margin: 0;
  margin-right: 5px;
  background: #CCC;
  padding: 3px;
}

#mixer li input[type=checkbox]:checked{
  background: #0C0
}

#mixer li .config{
  margin: 0;
  padding: 5px 0;
  clear: both;
}

#mixer li .config li{
  display: block;
  margin: 0;
}

#mixer li .config label{
  padding: 5px 0 0;
  text-align: left;
  font-size: 11px;
  line-height: 16px;
}
#mixer li .config input{
  padding: 0 5px;
  width: 100px;
  height: auto;
  font-size: 10px;
}
